<div class="stack">
  {%- for post in site.posts -%}
    <div class="post">
      <div class="frame">
        <a class="post-link" href="{{ post.url | relative_url }}">
          <h3 class="headline">{{ post.title | escape }}</h3>
        </a>
        {%- assign date_format = site.minima.date_format | default: "%b %-d, %Y" -%}
        <div class="date">
          {{ post.date | date: date_format }}
        </div>
      </div>
      <img class="divider-1" src="assets/divider-1.svg" />
    </div>
  {%- endfor -%}
</div>