@charset "utf-8";

$base-font-family: "EB Garamond", "Inter", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica; 
$text-color: rgba(255,255,255,1.0);
// changing to 18px 
$base-font-size:   18px !default;


.wrapper {
    max-width: 600px;
}
h1, h2, h3 {
    font-family: "Dela Gothic One";
}
.post-title, .post-link {
    font-family: "Dela Gothic One";
    font-size: 18px;
}