/** @format */

@charset "utf-8";

$base-font-family: "EB Garamond", "Inter", -apple-system, BlinkMacSystemFont,
  "Segoe UI", Roboto, Helvetica;
$text-color: rgba(255, 255, 255, 1);
$base-font-size: 18px !default; // changing to 18px
// SPACING
$spacing-unit: 30px !default;
// COLORS
$background-color: #000;
$brand-color: #2a7ae2 !default;

$grey-color: #828282 !default;
$grey-color-light: lighten($grey-color, 40%) !default;
$grey-color-dark: darken($grey-color, 25%) !default;
