/** @format */

@charset "utf-8";
a {
  color: white;
}
a:visited {
  color: white;
}
.nav-wrapper {
  /* Auto layout */
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  padding: 96px 48px;
  width: 624px;
}
.site-title-wrapper {
  display: flex;
  padding: 48px 0;
}
.site-header {
  border: none;
}
.site-title {
  font-family: "EB Garamond";
  font-size: 72px;
  font-weight: 500;
  font-style: normal;
  letter-spacing: normal;
  color: #ffffff;
  line-height: 96px;
}
.site-title,
.site-title:visited {
  color: white;
}
.site-nav {
  // float: right;
  line-height: $base-line-height * $base-font-size * 2.25;

  .nav-trigger {
    display: none;
  }

  .menu-icon {
    display: none;
  }

  .page-link {
    color: $text-color;
    line-height: $base-line-height;

    // Gaps between nav items, but not on the last one
    &:not(:last-child) {
      margin-right: 20px;
    }
  }

  @include media-query($on-palm) {
    position: absolute;
    top: 9px;
    right: $spacing-unit / 2;
    background-color: $background-color;
    //   border: 1px solid $grey-color-light;
    border: none;
    border-radius: 5px;
    text-align: right;

    label[for="nav-trigger"] {
      display: block;
      float: right;
      width: 56px;
      height: 36px;
      z-index: 2;
      cursor: pointer;
    }
    .menu-icon {
      display: block;
      float: right;
      width: 36px;
      height: 26px;
      line-height: 0;
      padding-top: 10px;
      text-align: center;

      > svg {
        fill: $grey-color-dark;
      }
    }
    // .menu-icon {
    //     /* About */
    //     // position: absolute;
    //     // width: 43px;
    //     // height: 14px;
    //     // left: 308px;
    //     // top: 22px;

    //     font-family: Times New Roman;
    //     font-style: normal;
    //     font-weight: normal;
    //     font-size: 12px;
    //     line-height: 14px;
    //     /* identical to box height */

    //     text-align: right;
    //     letter-spacing: 0.2px;
    //     text-transform: uppercase;

    //     color: #FFFFFF;
    // }
    input ~ .trigger {
      clear: both;
      display: none;
    }

    input:checked ~ .trigger {
      display: block;
      padding-bottom: 5px;
    }

    .page-link {
      display: block;
      padding: 5px 10px;

      &:not(:last-child) {
        margin-right: 0;
      }
      margin-left: 20px;
    }
  }
}
.page-link {
  font-family: "SF Mono";
  font-style: italic;
  font-weight: 300;
  font-size: 16px;
  line-height: 24px;
  /* identical to box height, or 150% */
  text-align: right;
  color: #ffffff;
  opacity: 0.5;
  letter-spacing: 0.2px;
  // text-transform: uppercase;
  color: #ffffff;
}
.wrapper {
  max-width: 600px;
  padding-left: 16px;
  padding-right: 16px;
}
@media screen and (min-width: 800px) {
  body {
    font-size: 18px;
  }
  .wrapper {
    max-width: 624px;
    // padding-right: 30px;
    // padding-left: 30px;
    // margin-left:30%;
  }
}

h1,
h2,
h3 {
  font-family: "Helvetica Neue";
  font-weight: bold;
}

// ----------POSTS--------------
// ------------------------------
.post-list {
  margin-top: 72px;
  padding-top: 24px;
  border-top: 2px solid white;
}
.post-list > li {
  // margin-bottom: 30px;
  border-bottom: 1px solid rgba(255, 255, 255, 0.5);
  margin-bottom: 24px;
  padding-bottom: 24px;
  /* margin-bottom: 30px; */
  display: flex;
  justify-content: space-between;
}
.post-list > li:last-child {
  border-bottom: none;
}
.test {
  display: none;
}
li > h3 {
  display: inline-block;
  text-align: right;
  vertical-align: baseline;
  margin-bottom: 0;
}
.post-title,
.post-link {
  font-family: "Helvetica Neue";
  font-size: 18px;
  font-weight: bold;
  letter-spacing: normal;
}

.post-header {
  padding-top: 16px;
  border-top: 2px solid white;
  // margin-top: 140px;
  margin-bottom: 24px;
  // margin-left: 56px;
}
.post-meta {
  display: inline-block;
  // float: right;
  margin-bottom: 0;
  padding-top: 6px;
}
// ----------FOOTER--------------
// ------------------------------
.site-footer {
  border: none;
  padding: 0px;
  width: 100%;
  margin-top: 218px;
  margin-bottom: 56px;
}
.site-footer .wrapper {
  padding: 0px;
}
.footer-col-wrapper,
.social-links {
  color: #ffffff;
}
.footer-col-wrapper {
  // display: flex;
  // margin-top: 96px;
  // padding-top: 24px;
  // margin-bottom: 96px;
  margin: 0px;
  border-top: 2px solid rgba(255, 255, 255, 1);
  // border-bottom: 1px solid rgba(255, 255, 255, 1);
}

.footer-name {
  color: rgba(255, 255, 255, 0.5);
  padding-right: 16px;
  text-transform: uppercase;
  font-size: 8px;
  letter-spacing: 0.3px;
  float: left;
  // margin-bottom: 0px;
}
.footer-name + p {
  display: -webkit-box;
}
/** Site footer */
// .site-footer { border-top: 1px solid #404040; padding: 30px 0; }

// .footer-heading { font-size: 1.125rem; margin-bottom: 15px; }

.feed-subscribe .svg-icon {
  padding: 5px 5px 2px 0;
}

.contact-list,
.social-media-list,
.pagination {
  list-style: none;
  margin-left: 0;
}

.footer-col-wrapper,
.social-links {
  // font-size: 0.9375rem;
  color: #ffffff;
}

.footer-col {
  margin-bottom: 0px;
  padding-left: 0px;
  padding-top: 24px;
}

.footer-col-1,
.footer-col-2 {
  width: calc(100% - (30px / 2));
}

.footer-col-3 {
  width: calc(100% - (30px / 2));
}

@media screen and (min-width: 800px) {
  .footer-col-1 {
    width: calc(35% - (30px / 2));
  }
  .footer-col-2 {
    width: calc(20% - (30px / 2));
  }
  .footer-col-3 {
    width: calc(45% - (30px / 2));
  }
}
@media screen and (min-width: 600px) {
  // .footer-col-wrapper { display: flex; }
  .footer-col {
    // width: calc(100% - (30px / 2));
    width: 100%;
    padding: 0 15px;
    float: none;
  }
  .footer-col:first-child {
    // width: calc(20% - (30px / 2));
    padding-right: 15px;
    padding-left: 0px;
    padding-top: 24px;
  }
  .footer-col:last-child {
    // width: calc(80% - (30px / 2));
    padding-right: 0;
    // padding-left: 15px;
  }
}

// New layouts
body {
  /* Auto layout */
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0px;

  // position: relative;
  // width: 986px;
  // height: 719px;

  // background-color: $background-color;
  // background: #000000;
}
.stack {
  /* Auto layout */

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 0px;

  // position: static;
  // width: 624px;
  // height: 408px;
  // left: 0px;
  // top: 26px;

  /* Inside auto layout */

  flex: none;
  order: 1;
  flex-grow: 0;
  margin: 24px 0px;
}
.post {
  /* Auto layout */

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  padding: 0px;

  // position: static;
  // width: 624px;
  // height: 48px;
  // left: 0px;
  // top: 0px;

  /* Inside auto layout */

  flex: none;
  order: 0;
  flex-grow: 0;
  // margin: 24px 0px;
}
.frame {
  /* Frame 4 */

  /* Auto layout */

  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: baseline;
  padding: 0px;

  position: static;
  // width: 624px;
  // height: 24px;
  left: 0px;
  top: 0px;

  /* Inside auto layout */

  flex: none;
  order: 0;
  align-self: stretch;
  flex-grow: 0;
  margin: 24px 0px;
}

.divider-1 {
  position: static;
  width: 624px;
  height: 0px;
  left: 0px;
  // top: 48px;

  border: 1px solid #ffffff;

  /* Inside auto layout */

  flex: none;
  order: 3;
  flex-grow: 0;
  // margin: 24px 0px;
}
.date {
  color: rgba(255, 255, 255, 0.3);
  font-family: "SF Mono";
  font-style: normal;
  font-weight: 300;
  font-size: 16px;
  line-height: 24px;
  /* identical to box height, or 150% */

  text-align: right;

  color: #ffffff;

  opacity: 0.5;
}
.headline {
  margin: 0;
  font-family: "SF Pro Text";
  font-style: normal;
  font-weight: 400;
  font-size: 21px;
  line-height: 24px;
  /* identical to box height, or 150% */
}
